.sidebar {
    background-color: #e6f9a4;
    float : left;
    height: 100%;
}


#search {
    background-image: url('resources/search.ico'); 
    background-position: 1px 1px;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    text-indent: 10px;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

body{
    background-color: #d4e9f7;
}

table {
    border-collapse: collapse;
    width:100%
}

th {
    height: 50px;
    text-align: center;
}

td {
    text-align: center;
}

th,td {
    padding: 15px;
}

.header {
    background-color: #66c2ff;
}

tr:not(.header):hover {
    background-color: #dbffe0;
}

table, th, td {
    
    border: 0.5px solid blue;

}
